#main {
  height: 100vh;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Be Vietnam Pro', sans-serif;
}

.fof {
  text-align: center;
  color: #fff;
  background: linear-gradient(45deg, #358b02, #ffffff);
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
  animation: pulse 2s infinite, rotateEffect 3s linear infinite;
}

.fof h1 {
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  animation: shake 0.5s ease-in-out infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes rotateEffect {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0% {
    transform: translateX(-10px);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
