<div class="bid-page-container">
  <h1>Página de Puja para el producto: {{ product?.name }}</h1>
  
  <div class="product-image-container">
    <img [src]="product?.photo" alt="{{ product?.name }}" class="product-image" />
  </div>

  <div>
    <p><strong>Precio original:</strong> ${{ product?.retailPrice }}</p>
    <p><strong>Precio de reventa:</strong> ${{ product?.resellPrice }}</p>
    <p><strong>Puja más alta:</strong> ${{ highestBid }}</p>
  </div>
  <div class="bid-form-container">
    <form (submit)="submitBid($event)">
      <label for="bidAmount">Introduce tu puja:</label>
          <input
          id="bidAmount"
          type="number"
          name="bidAmount"
          [(ngModel)]="bidAmount"
          required
          [min]="highestBid!??product?.resellPrice"
          placeholder="Introduce tu puja"
        />
      <button type="submit" class="bid-button">Pujar</button>
    </form>
  </div>
</div>
