<div class="product-detail-container">
  <div class="product-detail">
    <div class="product-info">
      <h1 class="product-name">{{ product?.name }}</h1>
      <p><strong>Retail Price:</strong> ${{ product?.retailPrice }}</p>
      <p><strong>Resell Price:</strong> ${{ product?.resellPrice }}</p>
      <p><strong>Year:</strong> {{ product?.year }}</p>
      
      <button class="bid-button" (click)="navigateToBidPage()">Place a Bid</button>
    </div>
    <div class="product-image-container">
      <img [src]="product?.photo" alt="{{ product?.name }}" class="product-image" />
    </div>
  </div>
</div>
