/* Estilo para el contenedor de los detalles del producto */
.product-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;
  min-height: 100vh;
}

/* Estilo del contenedor de detalles del producto */
.product-detail {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 20px;
  justify-content: space-between;
}

/* Estilo para la sección de la información del producto */
.product-info {
  flex: 1;
  padding-right: 30px;
}

.product-name {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.product-info p {
  font-size: 1.2rem;
  margin: 10px 0;
}

/* Estilo para la imagen del producto */
.product-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image {
  max-width: 100%;
  max-height: 500px;
  object-fit: contain;
  border-radius: 10px;
}

/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
  .product-detail {
    flex-direction: column;
    align-items: center;
  }

  .product-image-container {
    margin-top: 20px;
  }

  .product-info {
    text-align: center;
  }
}
